.blog-title-card {
  position: relative;
  padding: 6rem 4rem;
}

.blog-title-card::before {
  content: "";
  background-image: url("../../../assets/img/blog/blog-breadcrumb-bg.jpeg");
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.blog-post__container {
  width: 85%;
  padding-block: 7rem;
}

.quote-svg {
  width: 204.8px;
  height: 163.2px;
}


.blog-post-title {
  inline-size: 70%;
  color: hsl(23 100% 65%) !important;
}

.blog-post__paragraph {
  font-family: Poppins, sans-serif;
  line-height: 1.6em;
  font-weight: 300;
  color: #878787;
  font-size: 16px;
}

.lead-text {
  font-size: 16.5px;
  font-weight: 400;
}

.blog-post__list__item {
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
  .blog-title-card::after {
    content: "";
  }

  .blog-title-card {
    flex-direction: column-reverse !important;
  }

  .blog-post-title {
    inline-size: 100%;
  }

  .blog-title-card {
    padding: 5.5rem 2rem;
    gap: 2rem;
    align-items: start;
    justify-content: center;
  }

  .quote-svg {
    width: 95.8px;
    height: 80.2px;
  }

  .blog-post__container {
    padding-block: 4rem;
  }
}
