.slider-img-box {
  position: relative;
}

.slider-img-box > p {
  font-size: 11px;
  letter-spacing: 3.85px;
  font-weight: 500;
  background-color: #000;
  color: rgb(255, 255, 255, 0.7);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.slider-img-box > img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}
