.portfolio-items__container {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.portfolio-items__row {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(30%, 100%), 1fr));
  column-gap: 4rem;
  row-gap: 4rem;
}

@media screen and (min-width: 320px) and (max-width: 550px) {
  .portfolio-items__row {
    grid-template-columns: 1fr;
  }
}
