.subheader__text {
  width: 60%;
  font-size: 1rem;
  color: #878787;
  word-wrap: break-word;
}

.subheader__container {
  width: 85%;
  position: absolute;
  bottom: 0;
  z-index: 2;
  padding-top: 2rem;
}

.subheader__wrapper {
  width: 80%;
}
