.subheader__wrapper {
  /* padding: 1rem 2rem; */
}

.subheader__text {
  width: 60%;
  font-size: 1rem;
  color: #878787;
}

.subheader__container {
  width: 85%;
  position: absolute;
  bottom: 0;
  z-index: 2;
  padding: 2rem 15rem;
}
