.two-columns-left__img__container {
  position: relative;
  min-height: 100%;
  height: 800px;
}
.two-columns-left__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.two-columns-left__content {
  height: 800px;
  padding-left: 5rem !important;
  padding-right: 5rem !important;
  padding-bottom: 3rem;
  background: #f5f5f3;
  align-items: flex-end;
}

.two-columns-left__content__inner {
  align-items: flex-end;
}

.two-columns-left__heading {
  inline-size: 65%;
  font-size: 36px !important;
  text-align: end !important;
}

.two-columns-text__div {
  align-items: flex-end;
}

.two-columns-left__text {
  inline-size: 70%;
  color: #878787;
  font-size: 1rem;
  text-align: end;
}

@media screen and (min-width: 320px) and (max-width: 900px) {
  .two-columns__left {
    flex-direction: column-reverse !important;
  }

  .two-columns-left__content {
    padding: 1.5rem !important;
    height: auto;
  }

  .two-columns-text__div {
    align-items: flex-start;
  }
  .two-columns-left__content,
  .two-columns-left__content__inner {
    align-items: flex-start !important;
  }

  .two-columns-left__heading {
    text-align: start !important;
    inline-size: 100%;
  }

  .two-columns-left__text {
    text-align: start !important;
    inline-size: 100%;
  }

  .two-columns-left__img__container {
    height: 400px;
  }
}
