.what__they__say__box {
  /* height: 380px;
  width: 380px; */
  /* position: relative; */
}

.what__they__say__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.what__they__say__text {
  font-size: 11px;
  letter-spacing: 3.85px;
  font-weight: 500;
  background-color: #000;
  color: rgb(255, 255, 255, 0.7);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
