.header__content {
  /* width: 70%; */
  width: 100%;
  /* padding-top: 9rem; */
}

.header__wrapper {
  /* height: 92vh; */
  width: 100vw;
}

.header-small {
  font-size: 11px;
  letter-spacing: 4px !important;
}

.header-text {
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  width: 70%;
}

/* testing */
.subheading__text {
  color: #878787;
  font-size: 1rem;
  inline-size: 70%;
}

.subheading__header {
  color: #171717;
  line-height: 1.17em;
  font-size: 28px;
  inline-size: 90%;
}

.subheader {
  width: 85%;
  padding: 3rem 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.subheader > * {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 450px) {
  .header-text {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .subheading__header {
    inline-size: 80%;
  }
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .third-header-child {
    display: none !important;
  }

  .subheader {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__wrapper {
    display: flex;
    justify-content: center;
    gap: 5rem !important;
    height: auto;
  }

  .subheader {
    margin-top: 10rem;
    /* position: relative; */
    /* top: 5%; */
    /* height: 30vh; */
    width: 100%;
    padding-left: 2rem;
    width: 100%;
    grid-template-columns: 1fr;
  }

  .subheading__text {
    inline-size: 100%;
  }

  .subheading__header {
    inline-size: 100%;
  }

  .header-text {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1366px) {
  .header-text {
    font-size: 4rem;
  }
}
