.header__content {
  width: 70%;
  padding-top: 9rem;
}

.header__wrapper {
  height: 92vh;
  width: 100vw;
}

.header-small {
  font-size: 11px;
  letter-spacing: 4px !important;
}

.header-text {
  font-size: 5rem;
  font-weight: 400;
  width: 70%;
}
