.navbar__wrapper {
  /* height: 8vh; */
}
.site__logo {
  object-fit: contain;
}

.logo__text,
.logo__text:hover {
  letter-spacing: 0.65rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #171717;
}

.nav__link,
.nav__link:hover {
  font-size: 0.9rem;
  color: #171717;
  cursor: pointer;
  text-decoration: none;
}

.navbar__grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 3fr 0.5fr;
  grid-template-rows: auto;
  grid-template-areas: "logo navlinks menuBtn";
}

.nav__child:nth-child(1) {
  grid-area: logo;
}
.nav__child:nth-child(2) {
  grid-area: navlinks;
}
.nav__child:nth-child(3) {
  grid-area: menuBtn;
}

.navlinks {
  gap: 3rem;
}

.mobile__menu {
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .navbar__grid {
    grid-template-areas:
      "logo menuBtn"
      "navlinks navlinks";
  }
}

@media screen and (min-width: 768px) {
  .desktop-menu {
    display: block !important;
  }

  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .desktop-menu {
    display: none;
  }
}
