/* Navbar */

/* small devices, tablets, iPads */
@media screen and (min-width: 320px) and (max-width: 1024px) {
  .navlinks {
    display: none !important;
  }
/* 
  .desktop-header {
    display: none !important;
  } */
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .mobile__menu {
    flex-direction: column;
    gap: 0.6rem;
  }
}

/* large screens */
/* @media screen and (min-width: 1025px) {
  .mobile-header {
    display: none;
  }
} */
