.video__wrapper {
  width: 100vw;
  max-width: 90%;
  height: 100vh;
  position: relative;
}

.video__wrapper > * {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top center;
}

.video-player__container {
  height: 100vh;
  width: 100vw;
}