.brand-intro__container {
  margin-block: 5rem;
}

.brand-story__container{
  margin-block: 10rem;
}

.brand-intro__heading {
  font-size: 53px !important;
  inline-size: 60%;
}

.brand-intro__desc {
  font-size: 21px;
  color: #575757;
  inline-size: 70%;
}

.brand-intro__sub {
  inline-size: 65%;
}

.services-highlight {
  margin-block: 5rem;
}
.services-highlight__heading {
  font-size: 53px !important;
  inline-size: 50%;
}

.services-highlight__items {
  margin-block: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(20%, 100%), 1fr));
  row-gap: 3rem;
  column-gap: 3rem;
}

.services-highlight__items > * > h4 {
  font-size: 20px;
  color: #171717;
}

.services-highlight__items > * > p {
  font-size: 14px;
  color: #878787;
}

.image-showcase {
  height: 40vh;
  position: relative;
  margin-block: 8rem;
}

.image-showcase > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.brand-story {
  background: #f5f5f3;
  height: 600px;
}

.brand-story__cover {
  height: 600px;
}

.brand-story__desc {
  font-size: 21px;
  color: #575757;
  inline-size: 90%;
}

.brand-story__sub {
  inline-size: 90%;
}
